@import "colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey;
}

.wrapper {
  display: flex;
}

main {
  .title__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    h1,
    h2 {
      font-family: "Prata", serif;
    }

    h1 {
      font-size: 3rem;
      color: $orange;
      margin: 0 0.7rem 0.5rem 0;
    }

    h2 {
      font-size: 1.2rem;
      color: $gray;
      margin: 0 0 0.9rem 0;
    }

    h3 {
      width: 100%;
      max-width: 400px;
      line-height: 1rem;
      display: block;
      font-size: 0.7rem;
    }
  }
}

.cocktail {
  position: relative;
  padding: 4rem;
  width: 100%;
  max-height: 100vh;

  &__glass {
    max-width: 100%;
    max-height: 100%;
  }

  &__glass-data {
    position: absolute;
  }

  &__title {
    margin: 2rem 0 1rem 0;
  }
}

.data-container {
  position: absolute;
  z-index: -1;
  color: $white;
  bottom: 356px;
  left: 136px;
  min-width: 320px;
}

rect {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  margin: 0 0 0 auto;
  padding: 2.5rem 0;
  min-width: 22rem;
  min-height: 100vh;
  background-color: $black;
  color: $white;

  h1,
  h2 {
    color: $orange-shade;
  }

  h2 {
    font-size: 1.2rem;
  }

  &__nav {
    &-a {
      font-size: 0.8rem;
      font-weight: 900;
      padding: 1rem 2rem;
      color: $white;
      text-decoration: none;
      display: block;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      transition: 0.2s;

      &:last-of-type {
        margin: 0 0 1rem 0;
      }

      &:hover {
        background-color: $black-hover;
      }

      &:focus {
        background-color: $black-focus;
      }
    }
  }

  &__wrapper {
    padding: 0 2rem;
  }

  &__title {
    margin: 2rem 0 1rem 0;
  }

  &__ingredients {
    margin: 0;
    list-style: none;
  }

  &__ingredient {
    display: flex;
    align-items: center;
    margin: 0 0 0.5rem 0;
    position: relative;

    &-color {
      display: block;
      width: 1rem;
      height: 1rem;
      margin: 0 1rem 0 0;
    }
    &-input {
      margin: 0 0 0 auto;
      appearance: none;
      background-color: $white;
      font: inherit;
      color: $black;
      width: 1em;
      height: 1em;
      border-radius: 0.15em;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center;

      &:before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: $orange;
      }

      &:checked::before {
        transform: scale(1);
      }
    }
  }
}
